modules = ["web", "python-3.12", "nodejs-20"]
run = "python app.py"
[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[workflows]
runButton = "Run Flask App"

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 5000
externalPort = 80
